*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    font-weight: 400;

}

h1,h2,h3,h4 {
    font-family: 'Poppins', sans-serif;
}

