*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    /* background-color: black; */

}

h1,h2,h3,h4 {
    font-family: 'Poppins', sans-serif;
}

.container{
    background-image: url('../images/bg-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:hsl(257, 40%, 49%);
    height: 100vh;
}